.popup__button {
    background-color: #000000;
    color: white;
    border: none;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 358px;
    min-height: 50px;
    cursor: pointer;
}

.popup__button:hover {
    opacity: 80%;
}

.popup__button:disabled {
    opacity: 20%;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 2px;
}

@media screen and (max-width:860px) {
    .popup__button {
        width: 238px;
        height: 46px;
    }
}