.popup__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000000;
    margin: 0 auto 30px auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    opacity: 20%;
}

.popup__input:last-of-type {
    margin-bottom: 47px;
}