.profile__add-button {
    min-width: 150px;
    min-height: 50px;
    background-color: black;
    background-image: url(../../../images/AddButton.svg);
    background-repeat: no-repeat;
    border: none;
    background-size: contain;
}

.profile__add-button:hover {
    opacity: 60%;
}

@media screen and (max-width:750px){
    .profile__add-button{
        width: 282px;
        background-image: url(../../../images/addbutton2.svg);
    }
}